h1 {
    margin-left: 5%;
}

body {
    margin: 0;
}

th, td {
    padding: 10px;
}

img {
    z-index: -1;
}
.background-color-black {
    background-color: black;
    color: white;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: black;
    z-index: 1;
}

.navigation li {
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navigation li a {
    display: inline-block;
    color: white;
    padding: 14px 75px;
    font-size: x-large;
    text-align: center;
    text-decoration: none;
}

.navigation li a:hover {
    opacity: 0.7;
}

.navigation .home-nav {
    background-color: red;
    color: white;
}

.home_top_img {
    background-color: black;
    width: 100%;
}
.home_top_img img{
    width: 90%;
    height: 450px;
    margin: 5% 5%;
    color: white;
}

.about {
    margin: 0 0 5% 5%;
}
    
.about td {
    padding: 10px;
    border-bottom: 1px solid gray;
}


.about th {
    padding: 10px;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

.about .active {
    border-right: white;
    background-color: red;
    color: white;
}

.category {
    background-color: black;
    color: white;
}

.category table {
    display: inline-block;
    background-color: white;
    margin: 0 0 5% 5%;
}

.category img:hover {
    opacity: 0.5;
}

.category-intro {
    color: red;
    text-decoration: none;
}

.category-intro:hover {
    opacity: 0.5;
}

.top_img {
    max-width: 30%;
    margin: 5%;
    float: left;
}

.more {
    margin: 0 3% 3% 3%;
    width: 25%;
    display: inline-block;
    list-style-type: none;
}

.more a {
    margin-left: 5%;
    text-align: center;
    text-decoration: none;
    color: red;
}

.more a:hover {
    color: white;
    opacity: 0.7;
}

.more h4 {
    text-align: center;
}

.video-top {
    margin: 5%;
    border: 4px solid white;
    color: white;
    width: 90%;
}

.left_img {
    max-width: 20%;
    margin: 2% 5% 5% 5%;
    float: left;
}

#X_MEN, #DEADPOOL, #CIVILWAR {
    margin: 5%;
}

.character {
    margin: 5% 2% 5% 5%;
    float: left;
    width: 450px;
}

.character:hover {
    border: 2px solid black;
}

.character img {
    width: 100%;
}

.character img:hover {
    opacity: 0.7;
}

.explanation {
    padding: 0;
    text-align: center;
}